* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: 0 0 4px #4df1dc, 0 0 5px #113c3d;
}

body {
  background-image: url(https://images.pexels.com/photos/4238524/pexels-photo-4238524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-align: center;
  font-size: 50px;
  text-shadow: 0 0 9px #4df1dc, 0 0 8px #113c3d;
}

.complete {
  text-decoration: line-through;
  opacity: 0f;
  text-decoration-color: red;
  /* text-decoration-color: transparent; */
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 320px;
  border-color: rgb(33, 207, 199);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  color: #fff;
}

.todo-input::placeholder {
  color: #173610;
  font-weight: bold;
  font-style: italic;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: rgb(33, 207, 199);
  backdrop-filter: blur(100px);
  font-weight: bold;
  color: rgb(248, 184, 121);
  text-transform: capitalize;
  text-shadow: 0 0 4px #f05d09, 0 0 3px #ffae00;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.delete-icon {
  margin-right: 15px;
  color: rgb(243, 107, 107);
}

.edit-icon {
  color: rgb(224, 216, 103);
}
